*~
#*
working/
iseconfig/
ipcore_dir/*.gise
ipcore_dir/*.log
ipcore_dir/*.ncf
ipcore_dir/*.tcl
ipcore_dir/*.asy
ipcore_dir/*.sym
ipcore_dir/*.vho
ipcore_dir/*.txt
ipcore_dir/coregen.*
ipcore_dir/clocking/
ipcore_dir/core_mem_fifo_ste/
ipcore_dir/ip_constant_store_ste/
ipcore_dir/ip_mult35/
ipcore_dir/_xmsgs/
ipcore_dir/tmp/
not_in_git/
